html, body { height: 100%; margin: 0; }
.page {
    position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
}
.list {
	float: left;
	height: 33.3%; width: 33.3%;
	position: relative;
	border: 1px;
}
.ct_btn
{ 
	min-width: 100%; 
	min-height: 80%; 
	vertical-align: middle;
}
#operation
{
	border-radius: 300px; 
	height: 50px; 
	width: 50px; 
	background-color:#c0392b;
}